body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: #fff;
}

#table-container {
  width: 80%;
  overflow: auto;
}

#student-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  background-color: #333;
}

#student-table-row {
  display: flex;
  justify-content: space-between;
  background-color: #377d7b;
  padding: 12px;
  font-weight: bold;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#student-table-header {
  display: flex;
  justify-content: space-between;
  background-color: #004342;
  padding: 12px;
  font-weight: bold;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#student-table-row {
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
}

#student-table-row:hover {
  background-color: #c4d8d8;
  color: #004342;
}

.student-table-data {
  flex: 1;
  text-align: left;
  padding: 12px;
  word-break: break-all;
}
