#title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a2533; /* Slightly lighter teal color for title row */
  border: 1px solid #1a2533;
}

#title-row div {
  width: 150px; /* Set the maximum width for title and subtitle */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #324759; /* Darker teal color for rows */
  border: 1px solid #1a2533;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.row:nth-child(odd) {
  background-color: #2e4260; /* Slightly lighter teal color for odd rows */
}

.row:nth-child(even) {
  background-color: #2a3d56; /* Slightly lighter teal color for even rows */
}

.row:hover {
  background-color: #45678f; /* Lighter blue on hover */
}

.row div {
  width: 150px; /* Set a constant width for the <p> elements */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  color: #fff;
  text-decoration: none;
}
