body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #004447;
}

.table-container {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #004447;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #004447;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
